body {
    margin: 0 auto;
    background-color: black;
    
}
.container {
    display: flex;
    justify-content: center;
    margin: 1% auto;
}
.mems_body {
    width: 90%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.photo {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content:center;
}

img {
    max-height: 100%;
    width: 100%;
    border-radius: 10px;
}

.mems_text_switch {
    width: 90%;
    height: 5%;
    display: flex;
    justify-content: space-between;
}

.text {
    width: 70%;
    text-align:start;
    color: rgb(81, 81, 206);
    font-size: 20px;
}

.change_mem {
    display: flex;
    justify-content:flex-end;
    width: 20%;
}

.circle_hover {
    width: 20px;
    height: 20px;
    margin: 0 0 0 5px;

    .circle {
    width: 10px;
    height: 10px;
    border: 1px solid rgb(101, 101, 196);
    border-radius: 5px;
    background-color: rgb(101, 101, 196);
    
    }
    .active {
        background-color: rgb(6, 6, 8);
    }
}

.circle_hover:hover {
    cursor: pointer;
    .circle {
        background-color: white;
    }
}

@media all and (max-width: 768px) {
    .photo {
        height: 80%;
    }
    .mems_text_switch {
        flex-direction: column-reverse;
        align-items: center;

    }
    .text {
        width: 100%;
    }
    .change_mem {
        
        justify-content: center;
    }
}